@import '/src/styles/_tools';

.container {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 36.8rem;
  position: fixed;
  top: $space-S;
  padding: $space-XXS;
  border-radius: $space-XXXXS;
  margin: auto;
  color: $color-white;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  animation: slideInFromTop 0.3s ease forwards;
  z-index: 10000000;

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @include label-S;

  &.info {
    background-color: $color-purple-500;
  }

  &.success {
    background-color: #17ce76;
  }

  &.warning {
    background-color: $color-red-500;
  }

  &.slideOut {
    animation: slideOutToTop 0.3s ease forwards;

    @keyframes slideOutToTop {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(-100%);
        opacity: 0;
      }
    }
  }

  path {
    fill: $color-white;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    align-self: start;
  }

  .text {
    width: 22.8rem;
    margin: 0 $space-XXS;
    text-align: left;
  }

  .verticalLine {
    border-left: 1px solid $color-white;
    margin-right: $space-XXS;
    height: 100%;
  }
}
