@import '../../styles/tools';

.activityCardWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid $color-grey-100;
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: $border-radius-large;
    padding: $space-XXXXXS;
    width: 100%;
    height: 34rem;

    @include breakpoint-medium {
        display: inline;
        height: 100%;
    }

    .activityCard {
        padding: $space-XXS $space-XXS 0 $space-XXS;
        display: flex;
        gap: $space-XXS;
        flex-direction: column;
        max-width: 53.8rem;
        align-items: center;
        height: 100%;

        @include breakpoint-medium {
            max-width: 100%;
        }

        .title {
            width: 100%;
            height: 12rem;

            @include breakpoint-medium {
                height: 100%
            }

            .activityCardTitle {
                @include headline-L;

                width: 100%;
                height: 100%;
                text-align: left;
                text-wrap: wrap;
            }
        }

        .activityCardContent {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            justify-content: flex-end;

            .activityCardContentTabs {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-evenly;
                margin-bottom: $space-XXS;
                gap: $space-XXXXS;

                @include breakpoint-xsmall {
                    flex-wrap: wrap;
                }

                .tab {
                    width: 12rem;
                    padding: $space-XXXXS $space-XXXXXS $space-XXXXS $space-XXXXXS;
                    border-radius: $border-radius-small;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: $space-XXXXXS;

                    h3 {
                        @include label-S;

                        text-align: center;
                        color: $color-grey-400;
                    }

                    p {
                        @include body-M;

                        text-align: center;
                    }
                }
            }

            .moreInformation {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        &.busywork {

            .activityCardTitle,
            .tab p {
                color: $color-busywork;
            }

            .tab {
                border: 0.1rem solid $color-busywork-light;
            }
        }

        &.charity {

            .activityCardTitle,
            .tab p {
                color: $color-charity;
            }

            .tab {
                border: 0.1rem solid $color-charity-light;
            }
        }

        &.cooking {

            .activityCardTitle,
            .tab p {
                color: $color-cooking;
            }

            .tab {
                border: 0.1rem solid $color-cooking-light;
            }
        }

        &.diy {

            .activityCardTitle,
            .tab p {
                color: $color-diy;
            }

            .tab {
                border: 0.1rem solid $color-diy-light;
            }
        }

        &.education {

            .activityCardTitle,
            .tab p {
                color: $color-education;
            }

            .tab {
                border: 0.1rem solid $color-education-light;
            }
        }

        &.music {

            .activityCardTitle,
            .tab p {
                color: $color-music;
            }

            .tab {
                border: 0.1rem solid $color-music-light;
                ;
            }
        }

        &.recreational {

            .activityCardTitle,
            .tab p {
                color: $color-recreational;
            }

            .tab {
                border: 0.1rem solid $color-recreational-light;
            }
        }

        &.relaxation {

            .activityCardTitle,
            .tab p {
                color: $color-relaxation;
            }

            .tab {
                border: 0.1rem solid $color-relaxation-light;
            }
        }

        &.social {

            .activityCardTitle,
            .tab p {
                color: $color-social;
            }

            .tab {
                border: 0.1rem solid $color-social-light;
            }
        }
    }

    .activityCardImg {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius-regular;
        }
    }
}