@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
}

h3 {
    color: #222;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 24px */
    padding: 8px 0 16px;
    text-align: left;
}

.price {
    color: #999;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 18px */
    font-variant: all-small-caps;
}

label {
    color: #222;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 20px */
}

/* ==============================
HEADER STYLES
=================================*/

header.container-fluid {
    background-image: url(./header/Rectangle1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.header-container {
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 55px 96px;
}

.header-container h1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 96px */
}

.header-container h2 {
    /* width: 856px; */
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 48px */
}

.container {
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    background-color: #FFF;
}

label,
div,
input {
    padding: 5px;
}

/*===================================
FIRST ROW
===================================*/

.firstRow {
    padding: 96px 96px 0 96px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
    align-items: flex-end;
}

/* Carousel styles */

.carousel {
    width: 100%;
    height: 398px;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity, ease-in-out;
    transition-delay: 200ms;
}

.slide>img {
    display: block;
    width: calc(((100% - 32px) / 3)  * 2);
    height: 100%;
    max-height: 398px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 2px 3px 11.6px 0px rgba(0, 0, 0, 0.10);
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    ;
}

.carousel-button:hover {
    outline: 1px solid black;
}

.carousel-button.previous {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

/* Carousel styles */

.firstRow .img-wrapper {
    width: calc(((100% - 32px) / 3)  * 2);
    height: 100%;
    max-height: 398px;
    padding: 0;
}

.firstRow .img-wrapper img {
    overflow: hidden;
    width: 100%;
    
    height: 100%;
    max-height: 398px;
    object-fit: cover;
}

.firstRow form {
    width: calc(((100% - 32px) / 3)  * 1);
}

.firstRow .form-group {
    padding: 32px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 2px 3px 11.6px 0px rgba(0, 0, 0, 0.10);
    height: 398px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.firstRow .form-group .checkbox {
    width: 100%;
    padding: 16px;
    height: 78px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

/*===================================
SECOND ROW
===================================*/

.secondRow {
    display: flex;
    padding: 16px 96px 0 96px;
    gap: 32px;
}

.secondRow .formColorSelection {
    width: calc(((100% - 32px) / 3)  * 2);
}

.secondRow .colorSelection {
    display: flex;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 2px 3px 11.6px 0px rgba(0, 0, 0, 0.10);
}

.secondRow .colorSelection .checkboxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.secondRow .colorSelection .checkboxes .checkbox {
    width: calc((100% - 16px) / 2);
    height: 86px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 16px;
    display: flex;
    align-items: center
}

.secondRow .formEngineSelection {
    width: calc(((100% - 32px) / 3)  * 1);
}

.secondRow .engineSelection {
    display: flex;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 2px 3px 11.6px 0px rgba(0, 0, 0, 0.10);
    height: 100%;
}

.secondRow .engineSelection .checkbox {
    height: 78px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 16px;
    width: 100%;
}

.secondRow .engineSelection h3 {
    padding-bottom: 20px;
}

/*===================================
THIRD ROW
===================================*/

.thirdRow {
    display: flex;
    padding: 16px 96px 0 96px;
    gap: 32px;
}

.thirdRow .formInteriorSelection {
    width: calc(((100% - 32px) / 3)  * 1);
}

.thirdRow .interiorSelection {
    display: flex;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 2px 3px 11.6px 0px rgba(0, 0, 0, 0.10);
    height: 370px;
}

.thirdRow .interiorSelection .checkbox {
    height: 78px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 16px;
    width: 100%;
}

.thirdRow .formAccesoriesSelection {
    width: calc(((100% - 32px) / 3)  * 2);
}

.thirdRow .accesoriesSelection {
    display: flex;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 2px 3px 11.6px 0px rgba(0, 0, 0, 0.10);
    height: 370px;
}

.thirdRow .accesoriesSelection .checkbox {
    height: 78px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 16px;
    width: 100%;
}

/*===================================
FOURTH ROW
===================================*/

.seperator .line {
    margin: 36px auto;
    border-top: 1px solid #EDEDED;
    width: calc(100% - 80px);
    padding: 0px;
}

.fourthRow {
    padding: 0px 96px 48px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 100px;
}

.fourthRow p {
    color: #222;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 24px */
}

.fourthRow span {
    color: #222;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 24px */
}

.fourthRow button {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 18px */
    font-variant: all-small-caps;
    letter-spacing: 0.36px;
    padding: 16px 32px;
    background: #2B9CEE;
    border: 0;
    cursor: pointer;
}

.fourthRow button p {
    color: #FFF;
}

.rotate {
    animation: spin 1.0s linear infinite;
}

.button svg {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

;

/*===================================
AFTER CLICK CONTENT
===================================*/

.after-click h2 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 36px */
}

.after-click p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 18px */
}

.hide {
    display: none;
}

.show {
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 424px;
    gap: 25px;
}

.show h2 {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 36px */
}

.show p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 18px */
}

.checkbox {
    cursor: pointer;
}

.checked {
    border-radius: 8px !important;
    border: 2px solid #189AF8 !important;
    background: linear-gradient(0deg, rgba(24, 154, 248, 0.05) 0%, rgba(24, 154, 248, 0.05) 100%), #FFF !important;
}

input[type="checkbox"] {
    display: none;
}

/*===================================
RESPONSIVE DESIGN
===================================*/

/* breakpoints:
375 (changed to 632px)+
768 +
1040 +
1920 +
*/

/* =================================================================================================================================================== */

@media only screen and (max-width: 1040px) {

    .header-container {
        padding: 55px 32px;
    }

    /* FIRST ROW */

    .carousel {
            width: 100%;
            height: 380px;
        }
    
    .slide>img {
            max-height: 380px;
        }
    
    .firstRow {
            padding: 32px 32px 0;
            align-items: center;
        }
    
    .firstRow .img-wrapper {
            width: calc(((100% - 32px) / 3)  * 2);
            max-height: 380px;
            padding: 0;
        }
    
    .firstRow .img-wrapper img {
            max-height: 380px;
            height: 100%;
        }
        
    .firstRow form {
            width: calc((100% - 32px) / 3);
        }

    .firstRow .form-group {
            padding: 32px;
            height: 380px;
            
        }
    
    .firstRow .form-group .checkbox {
            width: 100%;
        }

    /* SECOND ROW */

    .secondRow {
        display: flex;
        padding: 32px 32px 0;
        gap: 32px;
    }

    .secondRow .formColorSelection {
        width: calc(((100% - 32px) / 3) * 2);
    }

    .secondRow .colorSelection {
        max-width: 100%;
        width: 100%;
    }

    .secondRow .colorSelection .checkboxes {
        padding: 0;
    }

    .secondRow .formEngineSelection {
        width: calc((100% - 32px) / 3);
    }

    .secondRow .engineSelection {
        max-width: 100%;
        height: 100%;
    }

    .secondRow .engineSelection h3 {
        padding-bottom: 17px;
    }

    /* THIRD ROW */

    .thirdRow {
        padding: 32px 32px 0;
    }

    .thirdRow .formInteriorSelection {
        width: calc((100% - 32px) / 3);
    }

    .thirdRow .interiorSelection {
        max-width: 100%;
        height: 100%;
        height: 100%;
    }

    .thirdRow .formAccesoriesSelection {
        width: calc(((100% - 32px) / 3) * 2);
    }

    .thirdRow .accesoriesSelection {
        max-width: 100%;
        height: 100%;
        height: 100%;
    }

        /* FOURTH ROW */

        .seperator .line {
            width: calc(100% - 2 * 32px);
        }
    
        .fourthRow {
            padding: 0px 32px 48px 32px;
        }
    
        /* AFTER-CLICK ROW */
    
        .hide {
            display: none;
        }
    
        .show {
            padding: 90px 25px;
        }
    
        .checkbox {
            cursor: pointer;
        }
}

/* =================================================================================================================================================== */

@media only screen and (max-width: 870px) {
    h3 {
        font-size: 20px;
    }

    .secondRow img {
        width: 45px;
        height: 45px;
    }

    .secondRow .colorSelection .checkboxes .checkbox {
        padding: 5px;
    }

    .checkbox label,
    .checkbox .price {
        font-size: 15px;
    }
}

/* =================================================================================================================================================== */

@media only screen and (max-width: 768px) {
    
    .header-container {
        padding: 55px 22px;
    }

    /* FIRST ROW */

    .carousel {
        width: 100%;
        height: 280px;
    }
    
    .slide>img {
        max-height: 280px;
    }
    
    .firstRow {
        padding: 22px 22px 0;
        align-items: center;
        gap: 22px;
    }
    
    .firstRow .img-wrapper {
        width: calc(((100% - 22px) / 3)  * 2);
        max-height: 280px;
        padding: 0;
    }
    
    .firstRow .img-wrapper img {
        max-height: 280px;
        height: 100%;
    }
        
    .firstRow form {
        width: calc((100% - 22px) / 3);
    }

    .firstRow .form-group {
        padding: 22px;
        height: 280px;
    }

    .firstRow .form-group h3 {
        font-size: 18px;
        padding: 0;
        padding-bottom: 5px;
    }
    
    .firstRow .form-group .checkbox {
        width: 100%;
        padding: 8px;
    }

    .firstRow .form-group .checkbox label,
    .firstRow .form-group .checkbox .price {
        font-size: 16px;
    }

    /* SECOND ROW */

    .secondRow {
        padding: 22px 22px 0;
        gap: 22px;
    }

    .secondRow .formColorSelection {
        width: calc(((100% - 22px) / 3) * 2);
    }

    .secondRow .colorSelection {
        padding: 22px;
    }

    .secondRow .colorSelection h3{
        font-size: 18px;
        padding: 0;
        padding-bottom: 5px;
    }

    .secondRow .colorSelection .checkboxes {
        padding: 0;
    }

    .secondRow .colorSelection .checkboxes .checkbox {
        padding: 8px;
    }

    .secondRow .colorSelection .checkboxes .checkbox label, 
    .secondRow .colorSelection .checkboxes .checkbox .price {
        font-size: 16px;
    }

    .secondRow .formEngineSelection {
        width: calc((100% - 22px) / 3);
    }

    .secondRow .engineSelection {
        max-width: 100%;
        height: 100%;
        padding: 22px;
    }

    .secondRow .engineSelection h3 {
        font-size: 18px;
        padding: 0;
        padding-bottom: 7px;
    }

    .secondRow .engineSelection .checkbox {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        height: auto;
    }

    .secondRow .engineSelection .checkbox label,
    .secondRow .engineSelection .checkbox .price {
        font-size: 16px;
    }
 
    /* THIRD ROW */

    .thirdRow {
        padding: 22px 22px 0;
        gap: 22px;
    }

    .thirdRow .formInteriorSelection {
        width: calc((100% - 22px) / 3);
    }

    .thirdRow .interiorSelection {
        padding: 22px;
    }

    .thirdRow .interiorSelection h3 {
        font-size: 18px;
        padding: 0;
        padding-bottom: 5px;
    }

    .thirdRow .interiorSelection .checkbox {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        height: auto;
    }

    .thirdRow .interiorSelection .checkbox label,
    .thirdRow .interiorSelection .checkbox .price {
        font-size: 16px;
    }

    .thirdRow .formAccesoriesSelection {
        width: calc(((100% - 22px) / 3) * 2);
    }

    .thirdRow .accesoriesSelection {
        max-width: 100%;
        height: 100%;
        padding: 22px;
    }

    .thirdRow .accesoriesSelection h3 {
        font-size: 18px;
        padding: 0;
        padding-bottom: 5px;
    }

    .thirdRow .accesoriesSelection .checkbox {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
        height: auto;
    }

    .thirdRow .accesoriesSelection .checkbox label,
    .thirdRow .accesoriesSelection .checkbox .price {
        font-size: 16px;
    }
}

/* =================================================================================================================================================== */

@media only screen and (max-width: 632px) {

    .header-container {
        padding: 25px 15px;
    }

    .header-container h1 {
        font-size: 25px;
    }

    .header-container h2 {
        font-size: 15px;
    }


    /* FIRST ROW */
    .carousel {
        width: 100%;
        height: 280px;
    }

    .slide>img {
        width: 100%;
        max-height: 280px;
    }

    .firstRow {
        padding: 12px 12px 0;
        flex-direction: column-reverse;
        align-items: center;
        gap: 12px;
    }

    .firstRow .img-wrapper {
        width: 100%;
        max-height: 280px;
        padding: 0;
    }

    .firstRow .img-wrapper img {
        width: 100%;
        max-height: 280px;
        height: 100%;
    }

    .firstRow form {
        width: 100%;
    }

    .firstRow .form-group {
        padding: 12px;
        height: auto;
        width: 100%;
    }

    .firstRow .form-group h3 {
        font-size: 15px;
    }

    .firstRow .form-group .checkbox {
        width: 100%;
        padding: 5px;
        height: 100%;
    }

    .firstRow .form-group .checkbox label,
    .firstRow .form-group .checkbox .price {
        font-size: 12px;
    }

    /* SECOND ROW */

    .secondRow {
        padding: 12px 12px 0;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .secondRow .formColorSelection {
        width: 100%;
    }

    .secondRow .colorSelection {
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .secondRow .colorSelection h3 {
        font-size: 15px;
        padding: 0 0 5px;
    }

    .secondRow .colorSelection .checkboxes {
        flex-direction: column;
        width: 100%;
    }

    .secondRow .colorSelection .checkboxes .checkbox {
        width: 100%;
        padding: 5px;
        height: 100%;
        gap: 0;
    }

    .secondRow .colorSelection .checkboxes .checkbox img {
        height: 28px;
        width: 28px;
    }

    .secondRow .colorSelection .checkboxes .checkbox label,
    .secondRow .colorSelection .checkboxes .checkbox .price {
        font-size: 12px;
    }

    .secondRow .formEngineSelection {
        width: 100%;
    }

    .secondRow .engineSelection {
        width: 100%;
        padding: 12px;
    }

    .secondRow .engineSelection h3 {
        font-size: 15px;
    }
    
    .secondRow .engineSelection .checkbox label,
    .secondRow .engineSelection .checkbox .price {
        font-size: 12px;
    }

    /* THIRD ROW */

    .thirdRow {
        padding: 12px 12px 0;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .thirdRow .formInteriorSelection {
        width: 100%;
    }

    .thirdRow .interiorSelection {
        width: 100%;
        padding: 12px;
    }

    .thirdRow .interiorSelection h3 {
        font-size: 15px;
    }

    .thirdRow .interiorSelection .checkbox label,
    .thirdRow .interiorSelection .checkbox .price {
        font-size: 12px;
    }

    .thirdRow .formAccesoriesSelection {
        width: 100%;
    }

    .thirdRow .accesoriesSelection {
        width: 100%;
        padding: 12px;
    }

    .thirdRow .accesoriesSelection h3 {
        font-size: 15px;
    }

    .thirdRow .accesoriesSelection .checkbox label,
    .thirdRow .accesoriesSelection .checkbox .price {
        font-size: 12px;
    }

    /* FOURTH ROW */

    /* .seperator .line {
        width: 100%;
    } */

    .fourthRow {
        padding: 0px 12px 42px 12px;
    }

    .fourthRow p,
    .fourthRow span {
        font-size: 15px;
    }

    .fourthRow button {
        padding: 10px 20px;
        font-size: 15px;
    }

    /* AFTER-CLICK ROW */

    .hide {
        display: none;
    }

    .show {
        padding: 20px 20px;
        gap: 10px;
    }

    .show svg {
        width: 100px;
        height: 100px;
    }

    .show h2 {
        font-size: 18px;
    }

    .show p {
        font-size: 15px;
    }

    .checkbox {
        cursor: pointer;
    }
}
