@use '../../styles/mixins/responsive' as *;
@use '../../styles/mixins/flexbox' as *;

.reviewsSectionWrapper {
    padding: 3rem 2rem;

    @include for-phone-only {
        padding: unset;
    }
}

.reviewsSectionCardWrapper {
    @include flexbox-centered;

    gap: 2.4rem;
    max-width: 104rem;
    width: 100%;
    border-radius: 2.5rem;
    margin: 0 auto;
    padding: 3rem;
    background-color: #FFFFFF;

    @include for-tabletL-only {
        padding: 3rem 2rem;
    }

    @include for-tablet-only {
        flex-direction: column;
    }

    @include for-phone-only {
        display: none
    }
}

.reviewsSectionCarousel {
    display: none;
    padding: 2rem 3.2rem 7.2rem;
    margin: 1.2rem 2rem 4rem;
    background-color: #FFFFFF;
    border-radius: 2.5rem;
    position: relative;

    @include for-phone-only {
        display: block;
    }
}

.reviewsSectionButtonWrapper {
    @include flexbox-centered;

    padding: 2.7rem 0;
    margin: 0 auto;

    @include for-phone-only {
        padding: 0 0 5rem;
    }
}

.reviewsLeftSideWrapper, .reviewsRightSideWrapper {
    background-color: #FFFFFF;
    position: relative;
}

li {
    background-color: #FFFFFF;
}

.carouselIndicatorWrapper {
    position: absolute;
    bottom: 3.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}

.carouselIndicator {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 0.3s ease-in-out;
    border: 0.1rem solid #FF7500;
    background-color: transparent;

    &.active {
        background-color: #FF7500;
    }
}