@import '../../styles/tools';

.foodCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  width: 26.3rem;
  height: 28.2rem;
  background: $color-white;
  border: 0.1rem solid $color-grey-100;
  box-shadow: $box-shadow-m;
  border-radius: $border-radius-regular;
  position: relative;

  .cardHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .cardHeaderLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 10.3rem;
      height: 10.4rem;

      position: absolute;
      left: -$space-XXXXS;
      top: -0.7rem;

      background: $color-orange-gradient;
      box-shadow: $box-shadow-foodCard;
      border-radius: $border-radius-regular $border-radius-large $border-radius-XXlarge $border-radius-large;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .cardSubHeader {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: $space-XXS $space-XXXXS $space-XXXXS;
      width: 16.3rem;
      height: 10.1rem;
      text-align: left;

      .titleS {
        @include title-S;
        color: $color-primary-600;
      }

      .titleXS {
        @include title-XS;
        color: $color-grey-500;
      }

      .cardSubHeaderFiguresWrap {
        display: flex;
        gap: $space-XXXXXS;
      }

      .cardSubHeaderFigures .plant,
      .cardSubHeaderFigures .chili {
        width: 2rem;
        height: 2rem;
      }

      .cardSubHeaderFigures .plant path {
        fill: $color-green-500;
      }

      .cardSubHeaderFigures .chili path {
        fill: $color-red-500;
      }
    }
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $space-XXS;
    gap: $space-XXXXS;

    width: 100%;
    height: 12rem;

    .bodyM {
      @include body-M;
      color: $color-grey-500;
      text-align: left;
      width: 23.1rem;
      line-height: 2.4rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .cardSubBody {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0rem;
      gap: $space-XXXXS;

      width: 100%;
      height: 3.2rem;

      .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $space-XXXXXS;

        .ratingFigure {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .ratingLogo {
          width: 1.2rem;
          height: 1.2rem;
        }

        .labelXS {
          @include label-XS;
          color: $color-primary-600;
        }
      }
    }
  }

  .cardFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0rem $space-XXS $space-XXS;

    width: 100%;
    height: 6.1rem;

    .cardFooterText {
      text-align: left;
      color: $color-primary-600;

      .bodyS {
        @include body-S;
      }

      .titleL {
        @include title-L;
      }
    }
  }
}