// @import '../../styles/tools';
// @use '../../styles/tools' as *;
@use '../../styles/mixins/responsive' as *;
@use '../../styles/mixins/flexbox' as *;

.container {
    max-width: 144rem;
    margin: 0 auto;

    @include flexbox-centered;
    
    flex-direction: column;
}