.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.footer .copyright {
    font-size: 16px;
}

.footer .footer-bar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer .footer-bar-content button {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    padding: 10px;
    border: 2px transparent;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.footer .footer-bar-content button:hover {
    color: #78c7e9;
    border-bottom: 2px solid #78c7e9;
}