$max-phoneS-width: 385;
$max-phone-width: 430;
$max-phoneM-width: 470;
$max-phoneL-width: 650;
$max-tablet-width: 876;
$max-tabletM-width: 1040;
$max-tabletL-width: 1280;


:export {
  max_phoneS_width: $max-phoneS-width;
  max_phone_width: $max-phone-width;
  max_phoneM_width: $max-phoneM-width;
  max_phoneL_width: $max-phoneL-width;
  max_tablet_width: $max-tablet-width;
  max_tabletM_width: $max-tabletM-width;
  max_tabletL_width: $max-tabletL-width;
}