$box-shadow-xs: 0rem 0.0125rem 0.0375rem rgba(141, 141, 141, 0.11),
  0rem 0.00625rem 0.0125rem rgba(141, 141, 141, 0.12);

$box-shadow-s: 0.006875rem 0.016875rem 0.02375rem -0.0075rem rgba(141, 141, 141, 0.26),
  0.05rem 0.13rem 0.18rem -0.06rem rgba(141, 141, 141, 0.18),
  0.03rem 0.08rem 0.11rem rgba(141, 141, 141, 0.11);

$box-shadow-m: 0.53rem 1.33rem 1.88rem -0.12rem rgba(200, 200, 200, 0.25),
  0.24rem 0.61rem 0.86rem -0.08rem rgba(141, 141, 141, 0.2),
  0.11rem 0.28rem 0.39rem -0.04rem rgba(141, 141, 141, 0.16),
  0.03rem 0.08rem 0.11rem rgba(141, 141, 141, 0.11);

$box-shadow-foodCard: 0.11rem 0.27rem 0.38rem -0.12rem rgba(187, 187, 187, 0.26),
  0.05rem 0.13rem 0.18rem -0.06rem rgba(187, 187, 187, 0.18),
  0.03rem 0.08rem 0.11rem rgba(187, 187, 187, 0.11);

$box-shadow-logoutButton: 0.53rem 1.33rem 1.88rem -0.12rem rgba(200, 200, 200, 0.25),
  0.24rem 0.61rem 0.86rem -0.08rem rgba(141, 141, 141, 0.2),
  0.11rem 0.28rem 0.39rem -0.04rem rgba(141, 141, 141, 0.16),
  0.03rem 0.08rem 0.11rem rgba(141, 141, 141, 0.11);

$box-shadow-filters: 0.11rem 0.27rem 0.38rem -0.12rem rgba(141, 141, 141, 0.26),
  0.05rem 0.13rem 0.18rem -0.06rem rgba(141, 141, 141, 0.18),
  0.03rem 0.08rem 0.11rem rgba(141, 141, 141, 0.11);