$color-primary-800: #0d1f2e;
$color-primary-600: #143149;
$color-primary-400: #1a4264;
$color-secondary-600: #e26a00;
$color-secondary-400: #ff7f0f;
$color-secondary-300: #ffa631;
$color-secondary-200: #ffe9d6;
$color-secondary-100: #fef5ed;

$color-grey-500: #636363;
$color-grey-400: #8d8d8d;
$color-grey-300: #c8c8c8;
$color-grey-200: #dddee0;
$color-grey-100: #f7f7f7;

$color-green-500: #00b368;
$color-green-400: #3be191;

$color-red-500: #de1a49;
$color-red-400: #ffd4d7;

$color-purple-500: #746ae9;
$color-purple-400: #9a91ff;
$color-purple-300: #b7b7fd;
$color-purple-200: #eaeefc;
$color-purple-100: #edf2f7;

$color-yellow-500: #eebb39;
$color-yellow-400: #fcda83;
$color-yellow-300: #ffe7a8;
$color-yellow-200: #ffefd0;

$color-orange-gradient: linear-gradient(318.11deg, #ffcb86 -5.31%, #fff5e8 122.02%);

$color-modal-overlay: rgba(#0d1f2e, 0.15);

$color-white: #fff;
$color-black: #000;

$color-grey-input-text: #646872;
