@import '../../styles/tools';

.iconButton {
  padding: $space-XXXXXS;
  border-radius: $border-radius-regular;
  border: none;

  &.accent {
    background-color: $color-secondary-400;
    color: $color-white;

    &:hover:not(:disabled) {
      background-color: $color-secondary-600;
    }

    &:focus:not(:disabled) {
      background-color: $color-secondary-400;
      border: 0.2rem solid $color-purple-500;
      outline: none;
    }

    &:active:not(:disabled) {
      background-color: $color-secondary-300;
      border: none;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  &.outlined {
    border: 0.1rem solid $color-secondary-300;
    background-color: $color-white;

    &:hover:not(:disabled) {
      background-color: $color-secondary-100;
    }

    &:focus:not(:disabled) {
      background-color: $color-white;
      border: 0.2rem solid $color-purple-500;
      outline: none;
    }

    &:active:not(:disabled) {
      background-color: $color-secondary-200;
      border: 0.1rem solid $color-secondary-300;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  &.tertiary {
    background-color: transparent;

    &:hover:not(:disabled) {
      background-color: rgba(255, 127, 15, 0.1);
    }

    &:focus:not(:disabled) {
      background-color: transparent;
      border: 0.2rem solid $color-purple-500;
      outline: none;
    }

    &:active:not(:disabled) {
      background-color: rgba(255, 127, 15, 0.2);
      border: none;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  &.small {
    width: 2.6rem;
    height: 2.6rem;
  }

  &.medium {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.profile-button {
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: 0.15rem solid $color-white;
  border-radius: 50%;
  outline: none;

  &:focus:not(:disabled) {
    border: 0.2rem solid $color-purple-500;
    outline: none;
  }
}
