@use '../../styles/mixins/responsive' as *;
@use '../../styles/mixins/flexbox' as *;

.servisesSectionWrapper {

    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
    margin: 0 auto;

    @include for-tabletL-only {
        padding: 3rem 2rem;
        gap: 2rem;
    }

    @include for-tablet-only {
        flex-direction: column;
    }

    @include for-phone-only {
        display: none;
    }

    .servicesLeftSideWrapper {
        max-width: 53.2rem;
        width: 100%;
        padding: 3rem 6rem;
        background-image: url('../../assets/images/ServicesLeftBG.png');
        border-radius: 2.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include for-tablet-only {
            max-width: unset;
        }

        h3 {
            background: transparent;
            font-family: Poppins;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0rem;
            color: #3F1E11;
            max-width: 19.3rem;
            width: 100%;
            margin-bottom: 3rem;

            span {
                background: transparent;
                font-family: Poppins;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2.4rem;
                letter-spacing: 0rem;
                color: #FF7500;
            }
        }

        p {
            background: transparent;
            max-width: 32.1rem;
            width: 100%;
            font-family: Poppins;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.1rem;
            letter-spacing: -0.01rem;
            color: #3F1E11;
            margin-bottom: 3rem;
        }

        button {
            background: transparent;
            font-family: Poppins;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2.1rem;
            letter-spacing: -0.01rem;
            border: none;
            color: #FF7500;
            cursor: pointer;
        }
    }

    .servicesRightSideWrapper {
        max-width: 47.8rem;
        width: 100%;
        padding: 3rem 6rem;
        background-image: url('../../assets/images/ServicesRightBG.png');
        border-radius: 2.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include for-tablet-only {
            max-width: unset;
        }

        h3 {
            background: transparent;
            font-family: Poppins;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 2.6rem;
            letter-spacing: 0rem;
            color: #3F1E11;
            margin-bottom: 3rem;
        }

        menu {
            background: transparent;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 2rem;

            .leftSideLi {
                background: transparent;

                li {
                    background: transparent;
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 1.2rem;
                    line-height: 3.2rem;
                    letter-spacing: 0rem;
                    color: #3F1E11;
                    list-style: none;

                    @include for-phoneS-only {}
                }
            }

            .rightSideLi {
                background: transparent;

                li {
                    background: transparent;
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 1.2rem;
                    line-height: 3.2rem;
                    letter-spacing: 0rem;
                    color: #3F1E11;
                    list-style: none;

                    @include for-phoneS-only {}
                }
            }


        }
    }
}

.servicesSectionCarousel {
    display: none;
    width: 100%;
    height: 100%;

    @include for-phone-only {
        display: block;
        padding: 2rem;
    }

    .servicesLeftSideWrapper,
    .servicesRightSideWrapper {
        position: relative;
    }

    .servicesLeftSideWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        max-width: 53.2rem;
        width: 100%;
        padding: 4rem;
        background-image: url('../../assets/images/ServicesLeftMobileBG.png');
        border-radius: 2.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h2 {
            font-family: Poppins;
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 3.2rem;
            letter-spacing: 0rem;
            color: #FF7500;
            background: transparent;
            margin-bottom: 4rem;
        }

        h3 {
            background: transparent;
            font-family: Poppins;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.6rem;
            letter-spacing: 0rem;
            text-align: center;
            color: #3F1E11;
            max-width: 21.3rem;
            width: 100%;
            margin-bottom: 3.2rem;

            span {
                background: transparent;
                color: #FF7500;
            }
        }

        p {
            background: transparent;
            max-width: 26rem;
            width: 100%;
            font-family: Poppins;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.1rem;
            letter-spacing: -0.01rem;
            text-align: center;
            color: #3F1E11;
            margin-bottom: 4rem;
        }

        button {
            background: transparent;
            font-family: Poppins;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2.1rem;
            letter-spacing: -0.01rem;
            border: none;
            color: #FF7500;
            cursor: pointer;
            margin-bottom: 4rem;
        }
    }

    .servicesRightSideWrapper {
        max-width: 47.8rem;
        width: 100%;
        padding: 3.3rem 4rem;
        background-image: url('../../assets/images/ServicesRightBG.png');
        border-radius: 2.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 42.1rem;

        h3 {
            background: transparent;
            font-family: Poppins;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.6rem;
            letter-spacing: 0rem;
            color: #3F1E11;
            margin-bottom: 3.2rem;
            text-align: center;
        }

        menu {
            background: transparent;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 2rem;

            .leftSideLi {
                background: transparent;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                li {
                    background: transparent;
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 3.2rem;
                    letter-spacing: 0rem;
                    color: #3F1E11;
                    list-style: none;
                }
            }

            .rightSideLi {
                background: transparent;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                li {
                    background: transparent;
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 3.2rem;
                    letter-spacing: 0rem;
                    color: #3F1E11;
                    list-style: none;
                }
            }


        }
    }

    .customLeftArrow {
        @include flexbox-centered;

        position: absolute;
        top: 50%;
        left: -1rem;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        max-width: 4.6rem;
        width: 100%;
        max-height: 4.6rem;
        height: 100%;
        border-radius: 2.5rem;
        background-color: white;
    }

    .customRightArrow {
        @include flexbox-centered;

        position: absolute;
        top: 50%;
        right: -1rem;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        max-width: 4.6rem;
        width: 100%;
        max-height: 4.6rem;
        height: 100%;
        border-radius: 2.5rem;
        background-color: white;
    }

    .carouselIndicatorWrapper {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 1rem;
        background: transparent;
    }

    .carouselIndicator {
        width: 10rem;
        height: 0.6rem;
        border-radius: 0.3rem;
        background-color: #FFFFFF;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &.active {
            background-color: #FF7500;
            width: 10rem;
            height: 0.6rem;
        }
    }

}