$color-primary: #0D0D0D;
$color-white: #FFFFFF;

$color-grey-500: #636363;
$color-grey-400: #8D8D8D;
$color-grey-300: #C8C8C8;
$color-grey-200: #DDDEE0;
$color-grey-100: #F7F7F7;

$color-music: #B91F6E;
$color-music-light: #F8E9F1;

$color-education: #517F8B;
$color-education-light: #CBD9DD;

$color-social: #EEBB39;
$color-social-light: #FFEFD0;

$color-cooking: #FB9755;
$color-cooking-light: #FFEFD0;

$color-relaxation: #746AE9;
$color-relaxation-light: #E6D9EA;

$color-recreational: #58B46E;
$color-recreational-light: #CDE9D4;

$color-charity: #D1998A;
$color-charity-light: #F2E1DC;

$color-busywork: #D87A80;
$color-busywork-light: #F4D8D9;

$color-diy: #4C6987;
$color-diy-light: #CAF2DB;