$space-XXXXXS: 0.4rem;
$space-XXXXS: 0.8rem;
$space-XXXS: 1.2rem;
$space-XXS: 1.6rem;
$space-XS: 2rem;
$space-S: 2.4rem;
$space-M: 3.2rem;
$space-L: 4rem;
$space-XL: 4.8rem;
$space-XXL: 5.6rem;
$space-XXXL: 6.4rem;