@use '../../styles/mixins/responsive' as *;
@use '../../styles/mixins/flexbox' as *;

.salonsPageWrapper {
    @include flexbox-centered;

    flex-direction: column;
    gap: 6rem;
    height: 80vh;
    padding: 0 2rem;

    h1 {
        font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0px;
        color: #FF7500;
    }

    figure {
        max-width: 45rem;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

}