@import '../../styles/tools';

.footer {
    padding: $space-L 0 $space-S 0;
    display: flex;

    @include breakpoint-large {
        margin: 0 2rem;
    }

    @include breakpoint-medium {
        margin: 0 2rem;
    }
}

p {
    @include body-S;
    color: $color-grey-500;

    @include breakpoint-xsmall {
        font-size: 1rem;
    }
}

.footerLeft {
    text-align: left;
    width: 33.33%;
}

.footerRight {
    text-align: right;
    width: 33.33%;
}

.footerMiddle {
    width: 33.33%;
    text-align: center;
}