.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #AAABB8;
    border-radius: 20px;
    text-decoration: none;
    margin: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    height: calc(100% - 20px * 2);
}

.project-card .project-card-image {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.project-card .project-card-image.first {
    background-image: url(images/FirstProject.png);
}

.project-card .project-card-image.second {
    background-image: url(images/SecondProject.png);
}

.project-card .project-card-image.third {
    background-image: url(images/ThirdProject.png);
}

.project-card .project-card-image.fourth {
    background-image: url(images/FourthProject.png);
    background-position: center;
    background-size: contain;
    background-color: #fff;
}

.project-card .project-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    flex: 1;
}

.project-card .project-card-text .project-card-text-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.project-card .project-card-text .project-card-text-text h4 {
    font-size: 28px;
    color: rgba(37,39,77);
}

.project-card .project-card-text .project-card-text-text p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-card .project-card-text .project-card-text-text p,
.project-card .project-card-text .project-card-text-links p {
    color: #464866;
    text-align: left;
    font-size: 18px;
}

.project-card .project-card-text .project-card-text-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-card .project-card-text .project-card-text-links p span.techStack {
    font-weight: bold;
    
}

.project-card .project-card-text .project-card-text-links .project-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 70px;
    width: 100%;
}

.project-card .project-card-text .project-card-text-links .project-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgba(37,39,77);
    font-weight: bold;
}

@media only screen and (max-width: 1250px) {
    .project-card .project-card-text .project-card-text-text h4 {
        font-size: 22px;
    }
}




