.contacts-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 50px;
}

.contacts-wrapper .contacts-wrapper-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contacts-wrapper .contacts-wrapper-text-svg-group {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 700px) {
    .contacts-wrapper {
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .contacts-wrapper .contacts-wrapper-text {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .contacts-wrapper {
        flex-direction: column;
        gap: 10px;
        margin: 0;
    }

    .contacts-wrapper .contacts-wrapper-text {
        flex-direction: column;
        gap: 10px;
    }
}