@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F3EA;
}

input, select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.0em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #CBD0D8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}