@use '../../styles/mixins/responsive' as *;
@use '../../styles/mixins/flexbox' as *;

.navigationWrapper {
    @include flexbox-centered;

    padding: 2.4rem 6rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;

    @include for-tabletM-only {
        padding: 2.4rem 2rem;
    }

    @include for-phoneL-only {
        display: none;
    }

    @include for-phone-only {
        display: none;
    }

    .navigationLinkWrapper {
        max-width: 31rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3rem;

        .navigationLink {
            font-family: Poppins;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            text-align: center;
            color: #3F1E11;
            text-decoration: none;
        }

        .activeLink {
            color: #FF7500;
            font-weight: 550;
        }
    }

    .navigationRightSideWrapper {
        max-width: 17.2rem;
        width: 100%;
        gap: 3rem;

        @include flexbox-centered;

        .salonamsLogo {
            cursor: pointer;
            display: flex;
        }

        .languageWrapper {
            @include flexbox-centered;

            gap: 0.5rem;
            cursor: pointer;
        }
    }
}

.mobileNavigationWrapper {
    max-width: 43rem;
    width: 100%;
    padding: 1.3rem 2rem;
    align-items: center;
    justify-content: space-between;
    display: none;
    position: sticky;
    top: 0;
    z-index: 100;

    @include for-phoneL-only {
        display: flex;
        max-width: unset;
    }

    @include for-phone-only {
        display: flex;
        max-width: 43rem;
    }
}

.mobileMenu {
    height: calc(100vh - 5.6rem);
    position: fixed;
    top: 5.6rem;
    left: 0;
    max-width: 43rem;
    width: 100%;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    touch-action: none;

    @include for-phoneL-only {
        max-width: unset;
    }

    @include for-phone-only {
        max-width: 43rem;
    }

    .mobileLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        flex-grow: 1;

        .mobileNavigationLink {
            font-family: Poppins;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.7rem;
            letter-spacing: 0%;
            text-align: center;

            color: #3F1E11;
            text-decoration: none;
        }

        .salonamsLogo {
            cursor: pointer
        }

        .activeLink {
            color: #FF7500;
            font-weight: 700;
        }
    }

    .languageWrapper {
        @include flexbox-centered;

        gap: 0.7rem;
        cursor: pointer;
        margin-bottom: 10rem;

        h4 {
            font-family: Poppins;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.8rem;
            letter-spacing: 0%;
        }
    }
}

.subscribeBar {
    @include flexbox-centered;

    gap: 3rem;
    padding: 1.3rem 0;
    background: linear-gradient(90deg, #FF7500 0%, #FF9031 100%);

    @include for-phone-only {
        padding: 2rem;
        justify-content: space-between;
        gap: unset;
    }

    h4 {
        font-family: Poppins;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: -0.01rem;
        text-align: center;
        background: transparent;
        color: #FFF7F0;

        @include for-phone-only {
            font-weight: 400;
            font-size: 1.4rem;
            letter-spacing: -0.01rem;
        }
    }
}